* {
  margin: 0;
}

.table {
  overflow-y: scroll;
  height: 510px;
  cursor: pointer;
}

.tb:hover {
background-color: gray;
}

.india-btn{
  padding: 0 5px;
  font-size: 20px;
  height: 30px;
  width: 70px;
}
